.advantages {

    &__icon {
        display: flex;
        width: 270px;
        height: 120px;
        background-color: #f5f4fa;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }

    &__header {
        font-weight: 700;
        font-style: var(--main-font)
    }

    &__description {
        line-height: 1.71;
        color: var(--second-color);
    }
}