.footer {
    background-color: var(--dark-color);
    width: 100%;
    height: 252px;

    &__element {
        list-style: none;
    }

    &__address {
        font-size: 14px;
        color: var(--light-color);
        margin-top: 20px;
        margin-bottom: 9px;
    }

    &__accent {
        font-family: var(--secondary-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.192;
        letter-spacing: 0.03em;
        text-decoration: none;
        font-family: var(--secondary-font);
    }

    &__mail {
        text-decoration: none;
        color: var(--second-color);
    }

    &__tel {
        text-decoration: none;
        color: var(--second-color);
        margin-top: 9px;
    }

    &__icon {
        display: flex;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        fill: var(--white-color);
        background-color: rgba(255, 255, 255, 0.1);


        &:hover,
        &:focus {
            fill: var(--white-color);
            background-color: var(--accent-color);

            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }


    .container {
        padding: 60px 15px 0 15px;
        display: flex;
        width: 1200px;
        align-items: center;
        margin: auto;
        padding: 60px 15px;
    }
}

.logo__accent {
    color: var(--accent-color);

    &__studio {
        color: var(--light-color);
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-decoration: none;
        font-family: var(--secondary-font);
    }
}

.team__icon-box {
    margin-left: 70px;
    margin-top: 20px;
}