:root {
    --font-weight-normal: 400;
    --font-weight-bold: 600;
    --font-weight-extra-bold: 700;

    --primary-color: #212121;
    --second-color: #757575;
    --accent-color: #2196f3;
    --dark-color: #2f303a;
    --light-color: #f5f4fa;
    --white-color: #ffffff;
    --border-color: #eeeeee;
    --border-second-color: #ececec;

    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
}